.blog {
  > .bodyCont {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    
    .blogPost {
      gap: 40px;
      display: flex;
      font-size: 17px;
      font-weight: 400;
      color: #999999;
      line-height: 30px;
      margin: 50px auto;
      font-style: normal;
      width: calc(100% - 350px);

      > .blogImage {
        width: 600px;
        height: 500px;
        object-fit: cover;
        border-radius: 10px;
        object-position: center;
      }

      > .blogInfo {
        width: 50%;
        display: flex;
        flex-direction: column;

        > .blogListItem{
            gap: 0 10px;
            display: flex;
            flex-wrap: wrap;
        }

        > .blogTitle {
          line-height: 46px;
          font-weight: 700;
          font-style: normal;
          font-size: 40px;
          color: #656364;
          margin: 20px 0 30px;
          text-transform: capitalize;
        }

        > .blogMeta {
          margin-bottom: 25px;
        }

        > .blogContentIntro {
          margin-bottom: 30px;
        }

        .blogButton {
          width: 120px;
          height: 50px;
          font-size: 17px;
          font-weight: 400;
          background: var(--grey-black);
          color: var(--primary-color);
          border: none;
          cursor: pointer;
        }

        .blogButton:hover {
          background-color: var(--brand-color);
          transition: all 0.2s ease-in-out 0.1s;
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .blogPost {
    flex-wrap: wrap;
    flex-direction: column;
    width: calc(100% - 20px);

    > .blogImage {
      width: 100%;
    }

    > .blogInfo {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1000px) {
}
