.contactSection {
    gap: 50px;
    display: flex;
    padding: 10px;
    margin: 50px auto;
    width: calc(100% - 340px);
    background: var(--primary-color);

    >.img {
        width: 50%;
        height: 480px;
        object-fit: cover;
        position: relative;
        border-radius: 10px;
        background-size: cover;
        background-position: center;
    }

    >.contactForm {
        width: 50%;
        display: flex;
        overflow: hidden;
        align-items: stretch;
        flex-direction: column;
        justify-content: center;

        >.contactFormHeading {
            font-size: 17px;
            margin: 0 0 50px;
            text-align: center;
            color: var(--brand-color);
        }

        >.successBox {
            padding: 10px;
            font-size: 14px;
            color: #FFFFFF;
            border-radius: 5px;
            margin-bottom: 10px;
            background: green;
        }

        >.contactFormInputFieldBox {
            display: grid;
            row-gap: 10px;
            column-gap: 10px;
            grid-template-rows: repeat(3);
            grid-template-columns: calc(50% - 5px) calc(50% - 5px);

            >.contactFormInput,
            >.contactFormSelect,
            >.contactFormTextarea {
                outline: medium;
                font-size: 15px;
                color: #333333;
                padding: 15px 10px;
                border-radius: 5px;
                border: 1px solid #02070e58;
            }

            >.contactFormInput:focus,
            >.contactFormSelect:focus,
            >.contactFormTextarea:focus {
                border-color: var(--brand-color);
            }

            >.contactFormTextarea {
                height: 120px;
                grid-column: 1/-1;
            }

            >.contactFormTextarea::placeholder {
                font-size: 16px;
                font-family: inherit;
            }

            >.contactFormButton {
                grid-column: 1/-1;
                margin: 20px auto;
                padding: 22px 30px;
                font-weight: 700;
                letter-spacing: 0.6px;
                border-radius: 5px;
                color: var(--primary-color);
                background: var(--grey-black);
                cursor: pointer;
                resize: vertical;
                border: none;
                outline: none;
            }

            >.contactFormButton:hover {
                background: var(--brand-color);
                transition: all 0.2s linear;
            }
        }
    }
}

/*====================================================*/
/*  */
/*====================================================*/
@media screen and (max-width: 1000px) {
    .contactSection {
        width: 100%;
        padding: 0 20px;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        >.img {
            width: 100%;
        }

        >.contactForm {
            width: 100%;
        }
    }
}

/*====================================================*/
/*  */
/*====================================================*/
@media screen and (max-width: 700px) {}