/*====================================*/
/*  */
/*====================================*/
.header {
  z-index: 1;
  width: 100%;
  padding: 0 10%;
  position: relative;
  overflow-x: hidden;

  /*----------------------------------*/
  /*  */
  /*----------------------------------*/
  >.topHeader {
    width: 100%;
    height: 40px;
    display: flex;
    font-size: 13px;
    padding: 0 20px;
    align-items: center;
    color: var(--primary-color);
    border-radius: 0 0 10px 10px;
    justify-content: space-between;
    background: var(--brand-color);

    >.leftAside,
    .rightAside {
      gap: 20px;
      display: flex;
      width: fit-content;
      justify-content: center;
    }

    >.leftAside {
      >.divider {
        width: 2px;
        height: 20px;
        background: var(--secondary-color);
      }

      >.span {
        display: flex;
        align-items: center;

        >.icon {
          font-size: 14px;
          margin-right: 10px;
        }
      }
    }

    >.rightAside {
      display: flex;
      align-items: center;

      >.link {
        font-family: 15px;
      }
    }
  }

  /*----------------------------------*/
  /*  */
  /*----------------------------------*/
  >.bottomHeader {
    z-index: 1;
    width: 100%;
    height: 80px;
    display: flex;
    font-size: 14px;
    position: relative;
    align-items: center;
    color: var(--grey-black);
    justify-content: space-between;
    background: var(--primary-color);

    /*----------------LOGO IMG----------------------*/
    >.link {
      height: 100%;
      position: relative;
      margin-right: 20px;

      >.img {
        height: 100%;
        width: fit-content;
        object-fit: contain;
        padding: 10px 10px 10px 0;
      }
    }

    /*-----------------NAV BAR---------------------*/
    >.navBarItems {
      gap: 25px;
      z-index: 1;
      height: 100%;
      display: flex;
      list-style: none;
      position: relative;
      align-items: center;

      >.navItem {
        z-index: 1;
        height: 100%;
        font-weight: 600;
        position: relative;
        letter-spacing: 0.6px;

        >.label {
          height: 100%;
          display: flex;
          align-items: center;
          text-transform: uppercase;
        }

        >.dropDownMenu {
          top: 100%;
          z-index: 1;
          display: none;
          list-style: none;
          min-width: 200px;
          transition: 0.12s;
          position: absolute;
          border-radius: 5px;
          color: var(--grey-black);
          border: 1px solid #eeeeeece;
          background: var(--primary-color);
          box-shadow: 0 0.5rem 1rem rgb(28, 26, 63, 0.15);

          >.dropDownMenuItem {
            border-radius: 5px;
            border-bottom: 1px solid #eeeeeece;

            >.label {
              display: block;
              text-wrap: nowrap;
              padding-block: 18px;
              padding-inline: 20px;
              text-transform: uppercase;
            }

            .subDropDownMenu {
              top: 0;
              left: 100%;
              display: none;
              min-width: 200px;
              list-style: none;
              transition: 0.12s;
              border-radius: 5px;
              position: absolute;
              color: var(--grey-black);
              border: 1px solid #eeeeeece;
              background: var(--primary-color);
              box-shadow: 0 0.5rem 1rem rgba(28, 26, 63, 0.15);

              .subDropDownMenuItem {
                border-radius: 5px;
                border-bottom: 1px solid #eeeeeece;

                >.label {
                  display: block;
                  text-wrap: nowrap;
                  padding-block: 18px;
                  padding-inline: 20px;
                  text-transform: uppercase;
                }
              }

              .subDropDownMenuItem:hover {
                color: var(--primary-color);
                transition: all 0.2s linear;
                background: var(--brand-color);
              }

              .subDropDownMenuItem:last-child {
                border-bottom: none;
              }
            }
          }

          >.dropDownMenuItem:last-child {
            border-bottom: none;
          }

          >.dropDownMenuItem:hover {
            color: var(--primary-color);
            transition: all 0.2s linear;
            background: var(--brand-color);

            >.subDropDownMenu {
              display: block;

              >.subDropDownMenuItem:hover {
                >.subDropDownMenu {
                  display: block;
                }
              }
            }
          }
        }
      }

      >.navItem:hover {
        color: var(--brand-color);
      }

      >.navItem:hover>.dropDownMenu {
        display: block;
      }
    }

    >.navBarsBox {
      display: none;
    }

    /*--------------------------------------*/
    >.navPhoneBox {
      display: flex;

      >.navPhoneIcon {
        width: 43px;
        height: 43px;
        margin-right: 15px;
        border-radius: 50%;
        color: var(--primary-color);
        background: var(--brand-color);

        >.svg {
          margin-top: 12px;
          margin-left: 12px;
        }
      }

      >.navPhoneInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-transform: uppercase;

        >.navPhoneName {
          font-weight: bold;
          color: var(--brand-color);
        }

        >.navPhoneNo {
          padding-top: 5px;
          font-weight: 600;
          cursor: pointer;
          font-size: 14px;
        }
      }
    }

    /*--------------------------------------*/
    >.navButton {
      border: none;
      cursor: pointer;
      font-size: 15px;
      font-weight: 600;
      line-height: 15px;
      letter-spacing: 0.6px;
      text-transform: uppercase;
      color: var(--primary-color);
      transition: all 0.2s linear;

      >.link {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        padding: 15px 15px;
        background: var(--grey-black);
      }

      >.link:hover {
        background-color: var(--brand-color);
      }
    }
  }

  /*=========================================*/
  >.bottomHeader.fixedHeader {
    top: 0;
    left: 0;
    margin: 0;
    height: 80px;
    position: fixed;
    padding: 0px 10%;
    transition: top 0.3s ease;
    box-shadow: 0 0.5rem 1rem rgba(28, 26, 63, 0.15);
    /* Add transition effect for smooth animation */
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-name: slideDown;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-timing-function: ease-out;

    >.navPhoneBox {
      display: none;
    }
  }
}

/*====================================*/
/* ANIMATIONS */
/*====================================*/
@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

/*====================================*/
/* ANIMATIONS */
/*====================================*/
@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

/*====================================*/
/* ANIMATIONS */
/*====================================*/
@media screen and (max-width: 800px) {
  .header {
    padding: 0;

    /*  */
    .topHeader {
      >.leftAside {
        display: none;
      }

      >.rightAside {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
      }
    }

    /*  */
    .bottomHeader {
      padding: 0 15px;

      >.navBarItems.open {
        display: flex;
        /* Add transition effect for smooth animation */
        animation-duration: 0.2s;
        animation-name: slideRight;
      }

      >.navBarItems {
        gap: 0;
        top: 0;
        left: 0;
        z-index: 1;
        width: 80vw;
        display: none;
        height: 100dvh;
        position: fixed;
        overflow-x: hidden;
        flex-direction: column;
        background-color: var(--primary-color);
        box-shadow: 0 0.5rem 1rem rgb(28, 26, 63, 0.15);


        >.navItem {
          width: 100%;
          height: 50px;

          >.label {
            height: 50px;
            display: flex;
            padding-left: 20px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
          }

          >.dropDownMenu {
            top: auto;
            border: unset;
            box-shadow: none;
            position: relative;
            border-radius: 0px;

            >.dropDownMenuItem {
              height: 50px;
              margin-left: 20px;
              position: relative;
              border-radius: 0px;

              >.label {
                height: 50px;
                display: flex;
                padding-left: 20px;
                border-bottom: 1px solid black;
              }

              >.subDropDownMenu {
                left: auto;
                border: unset;
                display: none;
                box-shadow: unset;
                position: relative;
                border-radius: 0px;

                >.subDropDownMenuItem {
                  height: 50px;
                  margin-left: 20px;
                  border-radius: 0px;
                  border-bottom: 1px solid black;
                }
              }
            }
          }
        }

        >.navItem:hover {
          height: unset;
          color: white;
          position: relative;
          background: var(--brand-color);

          >.dropDownMenu {
            >.dropDownMenuItem {
              height: unset;
            }
          }
        }
      }

      >.navPhoneBox {
        display: none;
      }

      >.navButton {
        display: none;
      }

      >.navBarsBox {
        width: 40px;
        height: 40px;
        display: flex;
        cursor: pointer;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        border: 2px solid black;

        >.navBars {
          font-size: 30px;
          color: var(--brand-color);
        }
      }
    }
  }
}