.main {
  >.container {
    width: 100%;

    >.swiper {
      z-index: 0;
      width: 100%;
      height: calc(100vh - 200px);

      .swiperImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    /* > .slideWrapper{
      position: relative;
      width: 100%;

      > .slider{
        display: flex;
        width: 100%;
        transform: translate(-50% -50%);
        left: 50%;
        overflow: hidden;

        > .sliderImg{
          width: 100%;
          height: 100vh;
          flex: 1 0 100%;
          object-fit: cover;
          object-position: center;
          animation: autoplay 20s linear infinite;
          overflow: hidden;
        }
      }

      > .slideNav{
        display: flex;
        position: absolute;
        justify-content: space-between;
        top: 50%;
        width: 100%;
        gap: 50px;
        padding-inline: 10px;

        > .slideArrow{
          background-color: var(--brand-color);
          color: var(--primary-color);
          font-size: 30px;
          z-index: 2;
          border-radius: 50%;
          width: 40px;
          height: 40px;
          padding-left: 14px;
          cursor: pointer;
        }
      }

      > .slideButtons{
        display: flex;
        position: absolute;
        width: calc(100% - 150px);
        top: 60%;
        left: 5%;
        gap: 50px;

        > .slideButton{
          padding: 18px 40px;
          font-size: 14px;
          line-height: 14px;
          font-weight: 600;
          letter-spacing: 0.6px;
          cursor: pointer;
          text-align: center;
          color: var(--primary-color);
          background-color: var(--brand-color);
          z-index: 1;
          border-radius: 5px;
          border: none;
        }

        > #slideButton2{
          background-color: var(--grey-black);
        }

        > #slideButton1:hover{
          background-color: var(--grey-black);
          transition: all 0.3s ease-in-out;
        }

        > #slideButton2:hover{
          background-color: var(--brand-color);
          transition: all 0.3s ease-in-out;
        }
      }
    } */
  }

  /*================================================*/
  .servicesContainer {
    width: calc(100% - 350px);
    margin: 100px auto;

    >.servicesHeading {
      text-align: center;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: var(--brand-color);
      margin-bottom: 50px;
    }

    >.servicesBoxContainer {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      gap: 50px;

      >.servicesBox {
        padding: 30px;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        width: 33.33%;

        >.servicesIcon {
          >.homeIcon {
            height: 60px;
            width: 80px;
            padding-right: 20px;
            filter: invert(18%) sepia(71%) saturate(7498%) hue-rotate(346deg) brightness(91%) contrast(104%);
          }
        }

        >.servicesTitle {
          font-size: 22px;
          padding-top: 10px;
          margin-bottom: 10px;
          font-weight: 700;
          line-height: 32px;
        }

        >.servicesContent {
          font-size: 16px;
          font-weight: 400px;
          line-height: 26px;
          color: #999999;
          width: 90%;
          margin-bottom: 5px;
        }

        >.servicesButton {
          padding: 10px 16px;
          color: var(--primary-color);
          background-color: var(--grey-black);
          border: none;
          margin: 5px;
          cursor: pointer;
          font-weight: 400;
          margin-bottom: 30px;
        }
      }
    }

    >.buttonBox {
      display: flex;
      justify-content: center;
      margin: 30px 0;

      >.moreServicesButton {
        color: var(--primary-color);
        background-color: var(--brand-color);
        border: none;
        padding: 15px 30px;
        border-radius: 5px;
        text-transform: uppercase;
        line-height: 14px;
        font-weight: 600;
        letter-spacing: 0.6px;
        cursor: pointer;
        margin: 0 auto;
      }

      >.moreServicesButton:hover {
        transition: all 0.3s ease-in-out;
        background-color: var(--grey-black);
        color: var(--primary-color);
      }
    }
  }

  /*================================================*/
  >.section {
    height: 400px;
    overflow: hidden;
    position: relative;

    >.appointmentImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    >.frontCont {
      top: 0;
      gap: 50px;
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-color: #fa0a2ab1;

      >.heading {
        font-size: 45px;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
        width: 70%;
        color: var(--primary-color);
      }

      >.link {
        border-radius: 8px;

        >.btn {
          border: none;
          outline: none;
          font-size: 14px;
          cursor: pointer;
          font-weight: 600;
          line-height: 14px;
          padding: 18px 25px;
          letter-spacing: 0.6px;
          border-radius: inherit;
          color: var(--grey-black);
          text-transform: uppercase;
          background-color: var(--primary-color);
        }

        >.btn:hover {
          color: var(--primary-color);
          transition: all 0.3s ease-in-out;
          background-color: var(--grey-black);
        }
      }
    }
  }
}

/*===============================================*/
/*  */
/*===============================================*/
@media screen and (max-width: 1000px) {
  .main {

    .servicesContainer {
      width: calc(100% - 20px);

      >.servicesBoxContainer {
        width: 100%;
        flex-direction: column;

        > .servicesBox{
          width: 100%;
        }
      }
    }
  }
}


/*===============================================*/
/*  */
/*===============================================*/
@media screen and (max-width: 700px) {
  .main{
    > .section{
      height: 500px;
      > .frontCont{
        gap: 30px;
        > .heading{
          font-size: 35px;
          width: 100%;
          padding: 0 10px;
        }
      }
    }
  }
}