.main {
  >.container {
    width: 100%;

    >.swiper {
      z-index: 0;
      width: 100%;
      height: calc(100vh - 400px);
      padding: 10px;

      .imgSwiperCont {
        width: 100%;
        height: 100%;
        position: relative;

          .swiperImage {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

      }

    }
  }

  /*================================================*/
  .servicesContainer {
    display: flex;
    margin: 100px auto;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 350px);

    >.title {
      line-height: 26px;
      color: var(--brand-color);
    }

    >.grid {
      gap: 50px;
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px;
      justify-content: space-evenly;

      >.servicesCont {
        padding: 30px;
        border: 1px solid #eeeeee;
        border-radius: 5px;
        width: 300px;
        display: flex;
        gap: 20px;
        background: #0000000e;
        flex-direction: column;

        >.homeIcon {
          height: 60px;
          width: 80px;
          padding-right: 20px;
          filter: invert(18%) sepia(71%) saturate(7498%) hue-rotate(346deg) brightness(91%) contrast(104%);
        }

        >.title {
          font-size: 22px;
          font-weight: 700;
        }

        >.msg {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
          overflow: hidden;
          text-overflow: ellipsis;
          max-height: calc(1em * 4.5);
          line-height: 1.5em;
          font-size: 15px;
        }

        >.link {
          width: fit-content;
          border-radius: 5px;
          color: var(--primary-color);
          background-color: var(--grey-black);

          >.btn {
            height: 40px;
            border: none;
            outline: none;
            color: white;
            padding: 0 25px;
            cursor: pointer;
            font-weight: 400;
            background: transparent;
          }
        }
      }
    }

    >.link,
    >.link>.btn {
      margin: 50px 0;
      color: var(--primary-color);
      background-color: var(--brand-color);
      border: none;
      font-weight: bold;
      padding: 15px 20px;
      border-radius: 4px;
      text-transform: uppercase;
      cursor: pointer;
    }

    >.link>.btn {
      margin: 0;
      padding: 0;
    }

    >.moreServicesButton:hover {
      transition: all 0.3s ease-in-out;
      background-color: var(--grey-black);
      color: var(--primary-color);
    }

  }

  /*================================================*/
  >.section {
    height: 400px;
    overflow: hidden;
    position: relative;

    >.appointmentImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    >.frontCont {
      top: 0;
      gap: 50px;
      width: 100%;
      height: 100%;
      display: flex;
      position: absolute;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      background-color: #fa0a2ab1;

      >.heading {
        font-size: 45px;
        font-weight: 700;
        line-height: 60px;
        text-align: center;
        width: 70%;
        color: var(--primary-color);
      }

      >.link {
        border-radius: 8px;

        >.btn {
          border: none;
          outline: none;
          font-size: 14px;
          cursor: pointer;
          font-weight: 600;
          line-height: 14px;
          padding: 18px 25px;
          letter-spacing: 0.6px;
          border-radius: inherit;
          color: var(--grey-black);
          text-transform: uppercase;
          background-color: var(--primary-color);
        }

        >.btn:hover {
          color: var(--primary-color);
          transition: all 0.3s ease-in-out;
          background-color: var(--grey-black);
        }
      }
    }
  }
}

/*===============================================*/
/*  */
/*===============================================*/
@media screen and (max-width: 1000px) {
  .main {

    .servicesContainer {
      width: calc(100% - 20px);

      >.servicesBoxContainer {
        width: 100%;
        flex-direction: column;

        >.servicesBox {
          width: 100%;
        }
      }
    }
  }
}


/*===============================================*/
/*  */
/*===============================================*/
@media screen and (max-width: 700px) {
  .main {
    >.section {
      height: 500px;

      >.frontCont {
        gap: 30px;

        >.heading {
          font-size: 35px;
          width: 100%;
          padding: 0 10px;
        }
      }
    }
  }
}