.footer {
  font-size: 13px;
  color: var(--primary-color);

  /*=============================*/
  /*  */
  /*=============================*/
  .firstFooter {
    display: flex;
    padding: 30px 40px;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: var(--grey-black);

    > .title {
        font-size: 40px;
    }

    > .desc{
        width: 500px;
        display: block;
        margin-top: 30px;
    }
  }

  /*=============================*/
  /*  */
  /*=============================*/
  .bottomFooter {
    display: flex;
    padding: 10px 80px;
    align-items: center;
    justify-content: space-between;
    background: var(--secondary-color);

    > .role {
      display: flex;
      align-items: center;
      justify-content: space-between;

      > .link {
        width: 30px;
        height: 30px;
        display: flex;
        margin-left: 10px;
        align-items: center;
        border-radius: 10px;
        justify-content: center;
        background: var(--transparent-black);
      }
    }
  }
}
